<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
   <ul>
     <li> Atul , Email: <a href=" " > amangat@ee.iitr.ac.in </a> </li>
     <li> Shanky , Email: <a href=" " > atalesara@ee.iitr.ac.in </a> </li>
     <li> Dhruv , Email: <a href=""> dkothari@ee.iitr.ac.in </a> </li>
   </ul>
</p>
